body {background-color:#cee397;}
.centered p{
    color:white;
    font-size: 300%;
    font-family: ;
}
  .centered{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .search{
    margin-left:160px;
    margin-top: 10px;
  }
  .display{
    margin-top: 10px;
  }